<!doctype html>
<html>
    <head>
        {{#title}}<title>{{title}}</title>{{/title}}
        <style>
            body {font-size: 16px;}
            tr.outdated {background: red}
        </style>
    </head>
    <body>
        {{#title}}<h1>{{title}}</h1>{{/title}}
        <table>
            <tr>
                <td>package</td>
                <td>current</td>
                <td>installed</td>
                <td>latest</td>
            </tr>
            {{#packages}}
            <tr class="package{{#outdated}} outdated{{/outdated}}">
                <td>{{package}}</td>
                <td>{{current}}</td>
                <td>{{installed}}</td>
                <td>{{latest}}</td>
            </tr>
            {{/packages}}
        </table>
    </body>
</html>
